extends layout

block content
  h1= pageTitle
  p
    a.button(href='/books/new')= 'Create New Book'

  p= 'Filters '
    a(href='/books')= 'All'
    |  | 
    a(href='/books/overdue')= 'Overdue'
    |  | 
    a(href='/books/checked')= 'Checked Out'

  table
    thead
      tr
        th= 'Title'
        th= 'Author'
        th= 'Genre'
        th= 'Year Released'

    tbody
      tr
        td
          a(href='')= 'Harry Potter and the Chamber of Secrets'
        td= 'J.K. Rowling'
        td= 'Fantasy'
        td= '1998'
      tr
        td
          a(href='')= 'Harry Potter and the Chamber of Secrets'
        td= 'J.K. Rowling'
        td= 'Fantasy'
        td= '1998'
      tr
        td
          a(href='')= 'Harry Potter and the Chamber of Secrets'
        td= 'J.K. Rowling'
        td= 'Fantasy'
        td= '1998'