extends layout

block content
  h1= pageTitle
  p
    strong= 'Book Title: '
    |
    = loan.Book.title
  p
    strong= 'Loaned By: '
    |
    = loan.Patron.name
  p
    strong= 'Loaned On: '
    |
    = loan.loaned_on
  p
    strong= 'Return By: '
    |
    = loan.return_by
  form
    p
      label(for= 'returned_on')= 'Returned on: '
      input(id= 'returned_on' type= 'text' value= '')
    p
      input(type= 'submit' value= 'Return Book')